.header-menu-list{
    justify-content: space-between;
}
#noi_dung{
    padding: 20px;
}

.col{
    padding-left: 4px;
    padding-right: 4px;
}
.col-0{
    display: block;
}
.footer-box{
    padding: 20px;
}
.col-s-0{
    display: none;
}
.col-s-1 {
    flex:0 0 8.33%;
    max-width: 8.33%;}
.col-s-2 {
    flex:0 0 16.67%;
    max-width: 16.67%;}
.col-s-3 {
    flex:0 0 25%;
    max-width: 25%;}
.col-s-4 {
    flex:0 0 33.33%; 
    max-width: 33.33%;}
.col-s-5 {
    flex:0 0 41.67%;
    max-width: 41.67%;}
.col-s-6 {
    flex:0 0 50%;
    max-width: 50%;}
.col-s-7 {
    flex:0 0 58.33%;
    max-width: 58.33%;}
.col-s-8 {
    flex:0 0 66.67%;
    max-width: 66.67%;}
.col-s-9 {
    flex:0 0 75%;
    max-width: 75%;}
.col-s-10 {
    flex:0 0 83.33%;
    max-width: 83.33%;}
.col-s-11 {
    flex:0 0 91.67%;
    max-width: 91.67%;}
.col-s-12 {
    flex:0 0 100%;
    max-width: 100%;}